@model Employee

<div class="container">
	<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		    <label asp-for="@Model.FullName" >FullName:</label>
			<input type="text" class="form-control" asp-for="@Model.FullName"/>

	</div>
	<div class="form-group">
		<select asp-for="PositionId" class="form-select" aria-label="Default select example">
         <option selected>Choose one of them</option>
@foreach (var item in ViewBag.Positions)
{
	 <option value="@item.Id">@item.Name</option>

}
            </select>
        </div>
	<div class="form-group">
		    <label asp-for="@Model.FormFile" >File:</label>
			<input type="file" class="form-control" asp-for="@Model.FormFile"/>
    </div>
			@Html.AntiForgeryToken()
	<button type="submit">Create</button>
	</form>
</div>
